name: Containers

on:
  workflow_call:
    inputs:
      dockerfile:
        required: true
        type: string
      tag:
        required: true
        type: string
      buildConfiguration:
        required: true
        type: string
        default: Release
      push:
        required: false
        type: boolean
        default: false
    secrets:
      token:
        required: true
      gprUser:
        required: true
      gprToken:
        required: true

jobs:
  BuildAndPushContainer:
    name: "Build and push container"
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate docker metadata
        id: docker_meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ inputs.tag }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.4.1

      - name: Login to GHCR
        uses: docker/login-action@v2.1.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.token }}

      - name: Cache Docker layers
        uses: actions/cache@v3.2.3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ inputs.tag }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-${{ inputs.tag }}-
            ${{ runner.os }}-buildx-

      - name: Run docker build
        uses: docker/build-push-action@v3.2.0
        with:
          context: .
          file: ${{ inputs.dockerfile }}
          platforms: linux/amd64
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new
          push: ${{ inputs.push }}
          build-args: |
            configuration=${{ inputs.buildConfiguration }}
            gpruser=${{ secrets.gprUser }}
            gprtoken=${{ secrets.gprToken }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}

      - name: Move cache
        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
